/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 

.root-div{
    margin: 0;
    grid-template-rows: 15% 75%;
    grid-template-columns: none;
    grid-template-areas: "sec1" "sec2" "sec3";
}
nav.nav{
    width: 100%;
}
nav.nav>ul{
    line-height: none;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly ;

}
.skills-wrapper{
    
    align-items: center;
}
.wrap{
    width: auto;
}
.wrap>h1{
font-size: 20px;
}
.wrap>p{
    font-size: 14px;
}
.social_back{
    height: 3%;
    padding: 3%;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-100%);
    border-radius: 5px 5px 0 0;
}
 }